<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/otherProg/src/com/te/assignment/Elements2.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.te.assignment.Elements2"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="OtherProg"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="otherProg"/>
</launchConfiguration>
